<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Find My Bay</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>ae.findmybay.payment</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>findmybay</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>ae.findmybay.googleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.343658146175-5cjbtnqd47gganpa1envveu607tch4hk</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>GIDClientID</key>
	<string>343658146175-5cjbtnqd47gganpa1envveu607tch4hk.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>343658146175-u7psbhg158ojp2rug0h5a4hmia14i63t.apps.googleusercontent.com</string>
	<key>GOOGLE_MAPS_API_KEY</key>
	<string>AIzaSyAQJ_qDBj0vtD-IB-sa-cY1r1djiFXJ814</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Find My Bay uses the camera to scan vendor QR codes during check-in.
</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Find My Bay uses your location to time the leave-now alert before your booked slot, even when the app is in the background.
</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Find My Bay uses your location to show car-wash bays near you and to time the leave-now alert before your booked slot.
</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
